<h1>MonitoringTools#index</h1>
<p>Find me in app/views/monitoring_tools/index.html.erb</p>
<%= link_to "Sign out", destroy_account_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default'%>
