<div class="row">
  <div class="col-md-12">
    <h2>Ohmpieng - Dashboard</h2>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bar Chart Example
      </div>
      <div class="panel-body">
        <canvas id="dashBar" class="col-md-6 col-sm-12 col-xs-12"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Doughnut Chart Example
      </div>
      <div class="panel-body">
        <canvas id="dashDoughnut" class="col-md-6 col-sm-12 col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Line Chart Example
      </div>
      <div class="panel-body">
        <canvas id="dashLine" class="col-md-6 col-sm-12 col-xs-12"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Pie Chart Example
      </div>
      <div class="panel-body">
        <canvas id="dashPie" class="col-md-6 col-sm-12 col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
