<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center animateup">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="gap-30"></div>
    <div class="row">
      <div class="col-md-7">
        <h1 class="heading animateleft">
          <span class="darkblue">Pleased</span><br>
          <span class="white">to Meet You</span>
        </h1>
        <p class="white animateleft">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
        </p>
      </div>
      <div class="col-md-5">
        <div id="testimonials-2" class="slide testimonial testimonial-version1 animateright">
          <!-- Testimonial items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="textbox">
                <p class="reviewcomment">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              </div>
              <div class="fullwidth">
                <div class="testimonial-metadata">
                  <%= image_tag("TemplateImg/comment-user.jpg", alt: "Circle Image", class: "img-circle") %>
                  <span class="author primary-color">
                    Non Madden
                  </span>
                  <br>
                  <em>Owner of Ohmpieng.org</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center animateup">
        <h2>Services</h2>
        <hr class="star-light">

      </div>
      <div class="row">
        <div class="col-md-6 left-services">
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-tablet fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              100% RESPONSIVE DESIGN
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-adjust fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              RETINA READY
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              7X24 SUPPORT
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
        </div>
        <div class="col-md-6 right-services">
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-html5 fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              HTML5 & CSS3
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              CLEAN CODING
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              EASY CUSTOMIZABLE
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
