
<div id="content">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">nonmadden</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a href="#page-top">Home</a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
          <!-- <li class="page-scroll">
          <a href="#team">Team</a>
        </li> -->
        <li class="page-scroll">
          <a href="#services">Services</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header class="home">
  <div class="home_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <div class="name">
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    I am Network Engineer
                  </li>
                  <li>
                    I am Web Developer
                  </li>
                  <li>
                    I am Ohmpieng.org
                  </li>
                </ul>
              </div>

            </div>
            <hr class="star-light">
            <span class="skills">Network Engineer & Web Developer</span>
            <br>


          </div>
          <div class="text-center">
            <div class="page-scroll menu-icon">
              <a href="#about">
                <i class="fa fa-list fa-lg pull-left fa-border"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center animateup">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="gap-30"></div>
    <div class="row">
      <div class="col-md-7">
        <h1 class="heading animateleft">
          <span class="darkblue">Pleased</span><br>
          <span class="white">to Meet You</span>
        </h1>
        <p class="white animateleft">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
        </p>
      </div>
      <div class="col-md-5">
        <div id="testimonials-2" class="slide testimonial testimonial-version1 animateright">
          <!-- Testimonial items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="textbox">
                <p class="reviewcomment">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                </div>
                <div class="fullwidth">
                  <div class="testimonial-metadata">
                    <%= image_tag("TemplateImg/author2.jpg", alt: "Circle Image", class: "img-circle") %>
                    <span class="author primary-color">
                      Non Madden
                    </span>
                    <br>
                    <em>CEO of Company</em>
                  </div>
                </div>
              </div>
              <!--/item-->
              <div class="item">
                <div class="textbox">
                  <p class="reviewcomment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                  </p>
                </div>
                <div class="fullwidth">
                  <div class="testimonial-metadata">
                    <%= image_tag("TemplateImg/ahmadmalik.jpg", alt: "Circle Image", class: "img-circle") %>
                    <span class="author primary-color">
                      Non Madden
                    </span>
                    <br>
                    <em>Project Manager</em>
                  </div>
                </div>
              </div>
              <!--/item-->
              <div class="item">
                <div class="textbox">
                  <p class="reviewcomment">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                  </div>
                  <div class="fullwidth">
                    <div class="testimonial-metadata">
                      <%= image_tag("TemplateImg/comment-user.jpg", alt: "Circle Image", class: "img-circle") %>
                      <span class="author primary-color">
                        Non Madden
                      </span>
                      <br>
                      <em>General User</em>
                    </div>
                  </div>
                </div>
                <!--/item-->
              </div>
              <!--/Testimonial-inner-->
              <div class="testimonial-control pull-right">
                <a class="left  btn btn-primary btn-xs" href="#testimonials-2" data-slide="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                <a class="right btn btn-primary btn-xs" href="#testimonials-2" data-slide="next"><i class="fa fa-angle-right fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="team" id="team">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center animateup">
    <h2>Team</h2>
    <hr class="star-light">
  </div>
  <div class="row">
  <div class="col-md-6 tm_member animateleft">
  <div class="tm_photo">
  <img class="img-responsive" src="img/team/john_doe.jpg" alt="">
</div>
<div class="tm_content">
<h4 class="white">
John Doe
</h4>
<p class="white">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue luctus lorem.
</p>
</div>
</div>
<div class="col-md-6 tm_member animateright">
<div class="tm_photo">
<img class="img-responsive" src="img/team/eliza_bennett.jpg" alt="">
</div>
<div class="tm_content">
<h4 class="white">
Eliza Bennett
</h4>
<p class="white">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue luctus lorem.
</p>
</div>
</div>
<div class="col-md-6 tm_member animateleft">
<div class="tm_photo">
<img class="img-responsive" src="img/team/john_smith.jpg" alt="">
</div>
<div class="tm_content">
<h4 class="white">
John Smith
</h4>
<p class="white">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue luctus lorem.
</p>
</div>
</div>
<div class="col-md-6 tm_member animateright">
<div class="tm_photo">
<img class="img-responsive" src="img/team/mischa_barton.jpg" alt="">
</div>
<div class="tm_content">
<h4 class="white">
Mischa Barton
</h4>
<p class="white">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue luctus lorem.
</p>
</div>
</div>
</div>
</div>
</div>
</section> -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center animateup">
        <h2>Services</h2>
        <hr class="star-light">

      </div>
      <div class="row">
        <div class="col-md-6 left-services">
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-tablet fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              100% RESPONSIVE DESIGN
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-adjust fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              RETINA READY
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateleft">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              7X24 SUPPORT
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
        </div>
        <div class="col-md-6 right-services">
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-html5 fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              HTML5 & CSS3
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              CLEAN CODING
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
          <div class="service-item animateright">
            <span class="fa-stack fa-3x right">
              <i class="fa fa-circle fa-2x fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse service-icon"></i>
            </span>
            <h4 class="white">
              EASY CUSTOMIZABLE
            </h4>
            <p class="white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h4>Location</h4>
          <p>69<br>Bangkok Thailand</p>
        </div>
        <div class="footer-col col-md-4">
          <h4>Around the Web</h4>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/bm9ubWFkZGVu" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li><a href="https://plus.google.com/+NonMadden" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li><a href="https://twitter.com/nonmadden" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li><a href="http://www.linkedin.com/in/nonmadden" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h4>About</h4>
          <p>I am Non Madden</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2014 - Non Madden
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
</div>
