        <!-- Start .landing-intro -->
        <div id="top" class="landing-intro" role="main">
            <!-- Start .container -->
            <div class="container">
                <!-- Start .header -->
                <header class="header row">
                    <div class="col-md-6 col-sm-12 text-center">
                        <!-- Start .logo -->
                        <div class="logo">
                            <a href="">
                                <img src="assets/img/logo.png" alt="logo">
                                <p class="slogan hidden-sm hidden-xs">Network Enginering
                                <br>Made Easy</p>
                            </a>
                        </div>
                        <!-- End .logo -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <nav>
                            <ul>
                                <li>
                                    <a class="btn btn-white btn-alt" href="">Trial</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <!-- End .header -->
                <!-- Start intro-slogan -->
                <div class="intro-slogan text-center animated fadeInDown">
                    <h1>Get your project done. <strong>fast!</strong>
                    </h1>
                    <p>
                        A Great <strong>Admin App</strong> Designed for Simplicity
                        <br class="hidden-xs">Very Powerful. User friendly.<strong>Fast integration.</strong>
                    </p>
                    <img class="img-responsive center-block center-block" src="assets/img/profile-cover.jpg" alt="spr flat admin">
                </div>
                <!-- End intro-slogan -->
            </div>
            <!-- End .container -->
            <!-- Start .description-bar -->
            <div class="description-bar">
                <!-- Start container -->
                <div class="container text-center">
                    <p>Perfect Solution for Networking with Custom Crafted Systems</p>
                </div>
                <!-- End container -->
            </div>
            <!-- End description-bar -->
        </div>
        <!-- End .landing-intro -->
        <!-- Start section-features -->
        <div id="features" class="section-features">
            <!-- Start made with -->
            <div class="madewith">
                <div class="container">
                    <div class="text-center">
                        <h3 id="build-with-love" class="section-header-1">Build with love and this awesome tools ...</h3>
                    </div>
                    <div class="logos row">
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/less.png" alt="Less css">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/bootstrap.png" alt="Bootstrap">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/grunt-logo.png" alt="Grunt js">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/yeoman.png" alt="Yeoman generator">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/bower-logo.png" alt="Bower">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="text-center">
                                <img class="img-responsive center-block" src="assets/img/landing/logos/nodejs.png" alt="Node js">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End made with -->
        </div>
        <!-- End section-features -->
        <!-- Start Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row mt50 mb50">
                    <!-- Start .row -->
                    <div class="col-md-12 footer-links">
                        <a href="#features" class="goTo">Features</a>
                        <a href="#testimonials" class="goTo">Testomonials</a>
                        <a href="#purcgase" class="goTo">Purchase</a>
                        <a href="#demo" class="goTo">Demo</a>
                        <a href="#top" class="back-to-top">Back to Top</a>
                        <p>&copy; 2014 Ohmpieng. All Rights Reserved</p>
                    </div>
                </div>
                <!-- End .row -->
            </div>
        </footer>
        <!-- End footer -->
        <!-- Javascripts -->
        <!-- Load pace first -->
        <script src="assets/plugins/core/pace/pace.min.js"></script>
        <!-- Important javascript libs(put in all pages) -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
        </script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
          <script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
          <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap plugins -->
        <script src="assets/js/bootstrap/bootstrap.js"></script>
        <!-- Other plugins ( load only nessesary plugins for every page) -->
        <script src="assets/plugins/ui/waypoint/waypoints.js"></script>
        <script src="assets/js/pages/landing.js"></script>
