  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1>Welcome To <b>Ohmpieng</b></h1>
          <h3>Show your product with this handsome theme.</h3>
          <br>
          </div>

          <div class="col-lg-2">
            <h5>Amazing Results</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <%= image_tag "arrow1.png", class: "hidden-xs hidden-sm hidden-md" %>
          </div>
          <div class="col-lg-8">
            <%= image_tag "app-bg.png", alt: "Application", class: "img-responsive" %>
          </div>
          <div class="col-lg-2">
            <br>
            <%= image_tag "arrow2.png", class: "hidden-xs hidden-sm hidden-md" %>
            <h5>Awesome Design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->
