// = require icons
// = require font-awesome.min
// = require glyphicons.min
// = require social
// = require sweet-alert
// = require magnific-popup

// = require_self
// = require_tree "./accounts"

@media print
  body
    text-align: justify
    font-size: 566px
    background-color: red
