<h1>TicketSupport#index</h1>
<p>Find me in app/views/ticket_support/index.html.erb</p>

<%= link_to "Sign out", destroy_account_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default'%>
