<div class="navbar-header">
    <a class="navbar-brand" href="index.html">
        <i class="im-windows8 text-logo-element animated bounceIn"></i><span class="text-logo">spr</span><span class="text-slogan">flat</span>
    </a>
</div>
<nav class="top-nav" role="navigation">
    <ul class="nav navbar-nav pull-left">
        <li id="toggle-sidebar-li">
            <a href="#" id="toggle-sidebar"><i class="en-arrow-left2"></i></a>
        </li>
        <li>
            <a href="#" class="full-screen"><i class="fa-fullscreen"></i></a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li>
            <a href="#" id="clear-localstorage" title="Reset panels position"><i class="ec-refresh color-white s24"></i></a>
        </li>
        <li>
            <a href="#" id="toggle-header-area"><i class="ec-download"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown"><i class="br-alarm"></i> <span class="notification">5</span></a>
            <ul class="dropdown-menu notification-menu right" role="menu">
                <li class="clearfix">
                    <i class="ec-chat"></i>
                    <a href="#" class="notification-user"> Ric Jones </a>
                    <span class="notification-action"> replied to your </span>
                    <a href="#" class="notification-link"> comment</a>
                </li>
                <li class="clearfix">
                    <i class="st-pencil"></i>
                    <a href="#" class="notification-user"> SuggeElson </a>
                    <span class="notification-action"> just write a </span>
                    <a href="#" class="notification-link"> post</a>
                </li>
                <li class="clearfix">
                    <i class="ec-trashcan"></i>
                    <a href="#" class="notification-user"> SuperAdmin </a>
                    <span class="notification-action"> just remove </span>
                    <a href="#" class="notification-link"> 12 files</a>
                </li>
                <li class="clearfix">
                    <i class="st-paperclip"></i>
                    <a href="#" class="notification-user"> C. Wiilde </a>
                    <span class="notification-action"> attach </span>
                    <a href="#" class="notification-link"> 3 files</a>
                </li>
                <li class="clearfix">
                    <i class="st-support"></i>
                    <a href="#" class="notification-user"> John Simpson </a>
                    <span class="notification-action"> add support </span>
                    <a href="#" class="notification-link"> ticket</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">
              <%= image_tag 'avatars/48.jpg', alt: "SuggeElson", class: "user-avatar"  %>SuggeElson
            </a>
            <ul class="dropdown-menu right" role="menu">
                <li><a href="profile.html"><i class="st-user"></i> Profile</a>
                </li>
                <li><a href="file.html"><i class="st-cloud"></i> Files</a>
                </li>
                <li><a href="#"><i class="st-settings"></i> Settings</a>
                </li>
                <li><a href="login.html"><i class="im-exit"></i> Logout</a>
                </li>
            </ul>
        </li>
        <li id="toggle-right-sidebar-li"><a href="#" id="toggle-right-sidebar"><i class="ec-users"></i> <span class="notification">3</span></a>
        </li>
    </ul>

</nav>
