<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <th class="info">1</th>
      <td class="info">Madden</td>
      <td class="info"><button type="button" class="btn btn-default">View</button></td>
      <th class="success">2</th>
      <td class="success">Madden2</td>
      <td class="success"><button type="button" class="btn btn-default">View</button></td>
      <th class="info">3</th>
      <td class="info">Madden3</td>
      <td class="info"><button type="button" class="btn btn-default">View</button></td>
      <th class="success">4</th>
      <td class="success">Madden4</td>
      <td class="success"><button type="button" class="btn btn-default">View</button></td>
    </tr>
    <tr>
      <th class="info">5</th>
      <td class="info">Madden5</td>
      <td class="info"><button type="button" class="btn btn-default">View</button></td>
      <th class="success">6</th>
      <td class="success">Madden6</td>
      <td class="success"><button type="button" class="btn btn-default">View</button></td>
      <th class="info">7</th>
      <td class="info">Madden7</td>
      <td class="info"><button type="button" class="btn btn-default">View</button></td>
      <th class="success">8</th>
      <td class="success">Madden8</td>
      <td class="success"><button type="button" class="btn btn-default">View</button></td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        RAM
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="ram" class="gauge"></meter>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        CPU
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="cpu" class="gauge"></meter>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Disk
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="disk" class="gauge"></meter>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        RAM
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <monitor chart="chart" class="line-chart"></monitor>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Internet
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
              data="exampleData"
              id="x1"
              height="300"
              showXAxis="true"
              showYAxis="true"
              tooltips="true"
              interactive="true">
            <svg></svg>
          </nvd3-line-chart>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        CPU
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
            data="exampleData"
            id="x2"
            height="300"
            showXAxis="true"
            showYAxis="true"
            isArea="true"
            tooltips="true"
            interactive="true">
          <svg></svg>
        </nvd3-line-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        ALL
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
            data="isAreaExampleData"
            id="isAreaDataExample"
            height="300"
            showXAxis="true"
            showYAxis="true"
          <svg></svg>
        </nvd3-line-chart>
      </div>
    </div>
  </div>
</div>
