<div class="panel panel-default">
  <div class="panel-heading">
    <i class="icon-beer icon-large"></i>
    System usage!
    <div class="panel-tools">
      <div class="btn-group">
        <a class="btn" href="#">
          <i class="fa fa-refresh"></i>
          Refresh statics
        </a>
        <a class="btn" data-toggle="toolbar-tooltip" href="#" title="Toggle">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <metor chart="chart" class="gauge"></metor>
        </div>

        <div class="col-md-6">
        xxx
          <monitor chart="chart" class="line-chart"></monitor>
        </div>
        <div class="col-md-6">
          x1
          <nvd3-line-chart
              data="exampleData"
              id="x1"
              height="300"
              showXAxis="true"
              showYAxis="true"
              tooltips="true"
              interactive="true">
            <svg></svg>
          </nvd3-line-chart>
        </div>

        <div class="col-md-6">
          x2
          <nvd3-line-chart
              data="exampleData"
              id="x2"
              height="300"
              showXAxis="true"
              showYAxis="true"
              isArea="true"
              tooltips="true"
              interactive="true">
            <svg></svg>
          </nvd3-line-chart>
        </div>

        <div class="col-md-6">
          x3
          <nvd3-line-chart
              data="isAreaExampleData"
              id="isAreaDataExample"
              height="300"
              showXAxis="true"
              showYAxis="true"
            <svg></svg>
          </nvd3-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>

