<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Session
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <img src="http://animals.page365.net/graphite/render/?width=600&height=200&drawNullAsZero=true&areaMode=all&colorList=16a085&target=sessions&bgcolor=white&fgcolor=black&from=-1d" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Session
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <img src="http://animals.page365.net/graphite/render/?width=900&height=300&drawNullAsZero=true&areaMode=all&lineMode=staircase&yMax=120000&colorList=F4F3D5,735648,BECF71,CC3230&target=legendValue%28poller.pigeon_1.mean,%22avg%22%29&target=legendValue%28poller.hummingbird_1.mean,%22avg%22%29&target=legendValue%28poller.sparrow_1.mean,%22avg%22%29&target=lineWidth%28poller.elephant_1.mean,0%29&bgcolor=white&fgcolor=black&from=-1d" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Session
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <img src="http://animals.page365.net/graphite/render/?width=900&height=200&drawNullAsZero=true&areaMode=all&colorList=95897D,AFCCDA,F6DEAE,E6C564,CB6855&yMax=150&target=poller.new.post.count&target=poller.new.comment.count&target=poller.new.private_message.count&target=poller.new.line_message.count&bgcolor=white&fgcolor=black&from=-1d" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        RAM
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="ram" class="gauge"></meter>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        CPU
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="cpu" class="gauge"></meter>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Disk
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <meter chart="disk" class="gauge"></meter>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        RAM
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <monitor chart="chart" class="line-chart"></monitor>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Internet
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
              data="exampleData"
              id="x1"
              height="300"
              showXAxis="true"
              showYAxis="true"
              tooltips="true"
              interactive="true">
            <svg></svg>
          </nvd3-line-chart>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        CPU
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
            data="exampleData"
            id="x2"
            height="300"
            showXAxis="true"
            showYAxis="true"
            isArea="true"
            tooltips="true"
            interactive="true">
          <svg></svg>
        </nvd3-line-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        ALL
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <nvd3-line-chart
            data="isAreaExampleData"
            id="isAreaDataExample"
            height="300"
            showXAxis="true"
            showYAxis="true"
          <svg></svg>
        </nvd3-line-chart>
      </div>
    </div>
  </div>
</div>
