<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        General Info
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="getneral-info">
          <div class="general-info-item">
            <span class="general-title">OS</span>
            <span class="general-data" id="os-info"></span>
          </div>
          <div class="general-info-item">
            <span class="general-title">Uptime</span>
            <span id="os-uptime"></span>
          </div>
          <div class="general-info-item">
            <span class="general-title">Server Time</span>
            <span id="os-time"></span>
          </div>
          <div class="general-info-item">
            <span class="general-title">Hostname</span>
            <span id="os-hostname"></span>
          </div>
        </div><br>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 35%"></div>
          <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        System usage
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <metor chart="chart" class="gauge"></metor>
        <metor chart="chart" class="gauge"></metor>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        Load average
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        Load average 1 min <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
        </div>
        Load average 5 min
        <div class="progress">
          <div class="progress-bar progress-bar-warning" style="width: 50%">50%</div>
        </div>
        Load average 10 min
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 20%">20%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-beer icon-large"></i>
        RAM
        <div class="panel-tools">
          <div class="btn-group">
            <a class="btn" href="#">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        Total:  490 MB
        <div class="progress" style="text-align: right">
          <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
        </div>
        Used: 209 MB
        <div class="progress" style="text-align: right">43%
          <div class="progress-bar progress-bar-warning" style="width: 43%"></div>
        </div>
        Free: 281 MB
        <div class="progress" style="text-align: right">10%
          <div class="progress-bar progress-bar-success" style="width: 10%"></div>
        </div>
      </div>
    </div>
  </div>
</div>





