<h1>Welcome</h1>
<h2>Select Server</h2>

<div class="col-xs-6 col-sm-2">
  <div class="row">
    <button class="btn btn-default active" type="button" id="seletindex1">
      <div class="panel-body" align="center">
        <i class="fa fa-server fa-5x" id="iconcolor"></i>
      </div>
      <div class="panel-body" align="center" id="servername">
        <span>
          Madden
        </span>
      </div>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" type="button" id="seletindex2">
      <div class="panel-body" align="center">
        <i class="fa fa-server fa-5x" id="iconcolor"></i>
      </div>
      <div class="panel-body" align="center" id="servername">
        <span>
          Madden 2
        </span>
      </div>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" type="button" id="seletindex3">
      <div class="panel-body" align="center">
        <i class="fa fa-server fa-5x" id="iconcolor"></i>
      </div>
      <div class="panel-body" align="center" id="servername">
        <span>
          Madden 3
        </span>
      </div>
    </button>
  </div>
</div>
<div class="panel panel-default">
<div class="col-xs-6 col-sm-10" id="detailData1">
  <div class="row">
    <div class="col-xs-0 col-sm-6">
      <div class="panel-body">
          <div class="panel-heading" id="boxgeninfo">
            <div class="panel-body" id="headinfo">
              General Infomation
            </div>
            <div class="panel-body">
              <p>OS: Ubuntu 14.04.2 LTS\n3.13.0-43-generic</p>
              <p>Uptime: 46 days 12 hours 43 minutes</p>
              <p>Server Time: Fri May 22 23:37:34 EDT 2015</p>
              <p>Hostname: Madden</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-4">
      <div class="panel-body">
        <div class="panel-heading" id="boxban">
          <div class="panel-body" id="headban">
            Internet Bandwidth
          </div>
          <div class="panel-body">
            <p>eth0: 5,199 KB/s 728 KB/s</p>
            <p>eth1: 5,199 KB/s 728 KB/s</p>
            <p>lo: 5,199 KB/s 728 KB/s</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-0 col-sm-5">
      <div class="panel-body">
          <div class="panel-heading" id="boxcpu">
            <div class="panel-body" id="headcpu">
              Swap
            </div>
            <div class="panel-body">
              <p>filename: /swapfile</p>
              <p>type: file</p>
              <p>size: 4194300</p>
              <p>used: 0</p>
              <p>priority: -1</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-5">
      <div class="panel-body">
        <div class="panel-heading" id="boxram">
          <div class="panel-body" id="headram">
            Ram
          </div>
          <div class="panel-body">
            <p>Total: 490 MB</p>
            <p>Used: 209 MB</p>
            <p>Free: 281 MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-6 col-sm-10">
    <div class="panel-body">
        <div class="panel-heading" id="boxswap">
          <div class="panel-body" id="headswap">
            CPU Information
          </div>
          <div class="panel-body">
            <p>Model name: Intel(R) Xeon(R) CPU E5-2630L v2 @ 2.40GHz</p>
            <p>Model: 62</p>
            <p>Socket(s): 1</p>
            <p>Thread(s) per core: 1</p>
            <p>CPU(s): 1</p>
            <p>Vendor ID: GenuineIntel</p>
            <p>L1d cache: 32K</p>
            <p>L1i cache: 32K</p>
            <p>L2 cache: 4096K</p>
          </div>
        </div>
    </div>
  </div>
  </div> -->
</div>

<div class="col-xs-6 col-sm-10" id="detailData2">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="panel-body">
          <div class="panel-heading" id="boxgeninfo">
            <div class="panel-body" id="headinfo">
              General Infomation
            </div>
            <div class="panel-body">
              <p>OS: Ubuntu 14.04.2 LTS\n3.13.0-43-generic</p>
              <p>Uptime: 46 days 12 hours 43 minutes</p>
              <p>Server Time: Fri May 22 23:37:34 EDT 2015</p>
              <p>Hostname: Madden</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="panel-body">
        <div class="panel-heading" id="boxban">
          <div class="panel-body" id="headban">
            Internet Bandwidth
          </div>
          <div class="panel-body">
            <p>eth0: 5,199 KB/s 728 KB/s</p>
            <p>eth1: 5,199 KB/s 728 KB/s</p>
            <p>lo: 5,199 KB/s 728 KB/s</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-5">
      <div class="panel-body">
          <div class="panel-heading" id="boxcpu">
            <div class="panel-body" id="headcpu">
              Swap
            </div>
            <div class="panel-body">
              <p>filename: /swapfile</p>
              <p>type: file</p>
              <p>size: 4194300</p>
              <p>used: 0</p>
              <p>priority: -1</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-5">
      <div class="panel-body">
        <div class="panel-heading" id="boxram">
          <div class="panel-body" id="headram">
            Ram
          </div>
          <div class="panel-body">
            <p>Total: 490 MB</p>
            <p>Used: 209 MB</p>
            <p>Free: 281 MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-6 col-sm-10">
    <div class="panel-body">
        <div class="panel-heading" id="boxswap">
          <div class="panel-body" id="headswap">
            CPU Information
          </div>
          <div class="panel-body">
            <p>Model name: Intel(R) Xeon(R) CPU E5-2630L v2 @ 2.40GHz</p>
            <p>Model: 62</p>
            <p>Socket(s): 1</p>
            <p>Thread(s) per core: 1</p>
            <p>CPU(s): 1</p>
            <p>Vendor ID: GenuineIntel</p>
            <p>L1d cache: 32K</p>
            <p>L1i cache: 32K</p>
            <p>L2 cache: 4096K</p>
          </div>
        </div>
    </div>
    </div>
  </div> -->
</div>

<div class="col-xs-6 col-sm-10" id="detailData3">
  <div class="row">
    <div class="col-xs-0 col-sm-6">
      <div class="panel-body">
          <div class="panel-heading" id="boxgeninfo">
            <div class="panel-body" id="headinfo">
              General Infomation
            </div>
            <div class="panel-body">
              <p>OS: Ubuntu 14.04.2 LTS\n3.13.0-43-generic</p>
              <p>Uptime: 46 days 12 hours 43 minutes</p>
              <p>Server Time: Fri May 22 23:37:34 EDT 2015</p>
              <p>Hostname: Madden</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-4">
      <div class="panel-body">
        <div class="panel-heading" id="boxban">
          <div class="panel-body" id="headban">
            Internet Bandwidth
          </div>
          <div class="panel-body">
            <p>eth0: 5,199 KB/s 728 KB/s</p>
            <p>eth1: 5,199 KB/s 728 KB/s</p>
            <p>lo: 5,199 KB/s 728 KB/s</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-0 col-sm-5">
      <div class="panel-body">
          <div class="panel-heading" id="boxcpu">
            <div class="panel-body" id="headcpu">
              Swap
            </div>
            <div class="panel-body">
              <p>filename: /swapfile</p>
              <p>type: file</p>
              <p>size: 4194300</p>
              <p>used: 0</p>
              <p>priority: -1</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-5">
      <div class="panel-body">
        <div class="panel-heading" id="boxram">
          <div class="panel-body" id="headram">
            Ram
          </div>
          <div class="panel-body">
            <p>Total: 490 MB</p>
            <p>Used: 209 MB</p>
            <p>Free: 281 MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-6 col-sm-10">
    <div class="panel-body">
        <div class="panel-heading" id="boxswap">
          <div class="panel-body" id="headswap">
            CPU Information
          </div>
          <div class="panel-body">
            <p>Model name: Intel(R) Xeon(R) CPU E5-2630L v2 @ 2.40GHz</p>
            <p>Model: 62</p>
            <p>Socket(s): 1</p>
            <p>Thread(s) per core: 1</p>
            <p>CPU(s): 1</p>
            <p>Vendor ID: GenuineIntel</p>
            <p>L1d cache: 32K</p>
            <p>L1i cache: 32K</p>
            <p>L2 cache: 4096K</p>
          </div>
        </div>
    <div>
    </div>
  </div>
</div>
</div> -->
</div>
<!--

<div class="panel-body">
  <div class="table-responsive">
    <table ng-table class="table table-hover table-condensed">
      <tr>
        <td data-title="'ID'" width="10%" align="center">1</td>
        <td data-title="'Hostname'">Madden</td>
        <td data-title="'ServerTime'">Fri May 22 23:37:34 EDT 2015</td>
        <td data-title="'Uptime'">46 days 12 hours 43 minutes</td>
        <td data-title="'View'" width="10%" align="center"><button type="button" class="btn btn-primary" id="ddd">View</button></td>
      </tr>
      <tr class="sss">
        <td colspan="5">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  General Info
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="getneral-info">
                    <div class="general-info-item">
                      <span class="general-title">OS:</span>
                      <span class="general-data">Ubuntu 14.04.2 LTS\n3.13.0-43-generic</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Uptime:</span>
                      <span id="os-uptime">46 days 12 hours 43 minutes</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Server Time:</span>
                      <span id="os-time">Fri May 22 23:37:34 EDT 2015</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Hostname:</span>
                      <span id="os-hostname">Madden</span>
                    </div>
                  </div><br>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 33.33%"></div>
                    <div class="progress-bar progress-bar-warning" style="width: 33.33%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 33.33%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  Internet Bandwidth
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  5,199 KB/s
                  728 KB/s
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  Load average
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Load average 1 min <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
                  </div>
                  Load average 5 min
                  <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: 50%">50%</div>
                  </div>
                  Load average 10 min
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 20%">20%</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  RAM
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Total:  490 MB
                  <div class="progress" style="text-align: right">
                    <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
                  </div>
                  Used: 209 MB
                  <div class="progress" style="text-align: right">43%
                    <div class="progress-bar progress-bar-warning" style="width: 43%"></div>
                  </div>
                  Free: 281 MB
                  <div class="progress" style="text-align: right">10%
                    <div class="progress-bar progress-bar-success" style="width: 10%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  Processes
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-hover table-striped table-condensed table-bordered">
                    <tr>
                      <th>USER</th>
                      <th>PID</th>
                      <th>%CPU</th>
                      <th>%MEM</th>
                      <th>VSZ</th>
                      <th>RSS</th>
                      <th>TTY</th>
                      <th>STAT</th>
                      <th>START</th>
                      <th>TIME</th>
                      <th>COMMAND</th>
                    </tr>
          <tr>
            <td>daemon</td>
            <td>934   </td>
            <td>0.0   </td>
            <td>0.0   </td>
            <td>19136   </td>
            <td>168  </td>
            <td>?  </td>
            <td>Ss    </td>
            <td>Apr06   </td>
            <td>0:00    </td>
            <td>atd</td>
          </tr>
          <tr>
            <td>message+    </td>
            <td>753   </td>
            <td>0.0   </td>
            <td>0.2   </td>
            <td>39224   </td>
            <td>1080    </td>
            <td>?   </td>
            <td>Ss    </td>
            <td>Apr06   </td>
            <td>0:00    </td>
            <td>dbus-daemon</td>
          </tr>
          <tr>
            <td>mysql </td>
            <td>29831 </td>
            <td>0.0 </td>
            <td>11.2  </td>
            <td>755484  </td>
            <td>56344 </td>
            <td>? </td>
            <td>Ssl </td>
            <td>May02 </td>
            <td>22:21 </td>
            <td>/usr/sbin/mysqld</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>1 </td>
            <td>0.0 </td>
            <td>0.4 </td>
            <td>33464 </td>
            <td>2124  </td>
            <td>? </td>
            <td>Ss  </td>
            <td>Apr06 </td>
            <td>1:41  </td>
            <td>/sbin/init</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>2 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S </td>
            <td>Apr06 </td>
            <td>0:00  </td>
            <td>[kthreadd]</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>3 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S </td>
            <td>Apr06 </td>
            <td>0:03  </td>
            <td>[ksoftirqd/0]</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>5 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S  </td>
            <td>Apr06 </td>
            <td>0:00  </td>
            <td>[kworker/0:0H]  </td>
          </tr>
          <tr>
            <td>root  </td>
            <td>7 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S </td>
            <td>Apr06 </td>
            <td>3:37  </td>
            <td>[rcu_sched]</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>8 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S </td>
            <td>Apr06 </td>
            <td>3:32  </td>
            <td>[rcuos/0]</td>
          </tr>
          <tr>
            <td>root  </td>
            <td>9 </td>
            <td>0.0 </td>
            <td>0.0 </td>
            <td>0 </td>
            <td>0 </td>
            <td>? </td>
            <td>S </td>
            <td>Apr06 </td>
            <td>0:00  </td>
            <td>[rcu_bh]</td>
          </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  RAM
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">

                  <table class="table table-hover table-striped table-condensed table-bordered">
                    <tr>
                      <th>Filesystem</th>
                      <th>Size</th>
                      <th>Used</th>
                      <th>Avail</th>
                      <th>Use%</th>
                      <th>Mounted</th>
                    </tr>
                    <tr>
                      <td>/dev/vda1</td>
                      <td>20G </td>
                      <td>3.9G  </td>
                      <td>15G </td>
                      <td>21% </td>
                      <td>/</td>
                    </tr>
                    <tr>
                      <td>none  </td>
                      <td>4.0K  </td>
                      <td>0 </td>
                      <td>4.0K  </td>
                      <td>0%  </td>
                      <td>/sys/fs/cgroup</td>
                    </tr>
                    <tr>
                      <td>none  </td>
                      <td>5.0M  </td>
                      <td>0 </td>
                      <td>5.0M  </td>
                      <td>0%  </td>
                      <td>/run/lock</td>
                    </tr>
                    <tr>
                      <td>none  </td>
                      <td>246M  </td>
                      <td>0 </td>
                      <td>246M  </td>
                      <td>0%  </td>
                      <td>/run/shm</td>
                    </tr>
                    <tr>
                      <td>none  </td>
                      <td>100M  </td>
                      <td>0 </td>
                      <td>100M  </td>
                      <td>0%  </td>
                      <td>/run/user</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </td>
      </tr>
    </table>
  </div>
</div>
