<h1>Welcome</h1>

<div class="panel-body">
  <div class="table-responsive">
    <table ng-table class="table table-hover table-condensed">
      <tr ng-repeat="(index, server) in servers" ng-show="server.hostname">
        <td data-title="'ID'" width="10%" align="center">1</td>
        <td data-title="'Hostname'">{{server.hostname}}</td>
        <td data-title="'ServerTime'">{{server.datetime}}</td>
        <td data-title="'Uptime'">{{server.uptime}}</td>
        <td data-title="'View'" width="10%" align="center"><button ng-click="chose(index)" type="button" class="btn btn-primary" id="ddd">View</button></td>
      </tr>
xxx
      <tr class="sss">
        <td colspan="5">
          <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  General Info
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="getneral-info">
                    <div class="general-info-item">
                      <span class="general-title">OS:</span>
                      <span class="general-data">{{servers[currentIndex].os}}</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Uptime:</span>
                      <span id="os-uptime">{{servers[currentIndex].uptime}}</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Server Time:</span>
                      <span id="os-time">{{servers[currentIndex].datetime}}</span>
                    </div>
                    <div class="general-info-item">
                      <span class="general-title">Hostname:</span>
                      <span id="os-hostname">{{servers[currentIndex].hostname}}</span>
                    </div>
                  </div><br>
                  <!-- <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 33.33%"></div>
                    <div class="progress-bar progress-bar-warning" style="width: 33.33%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 33.33%"></div>
                  </div> -->
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  Internet Bandwidth
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table ng-table width="100%" border="1">
                    <tr ng-repeat="b in servers[currentIndex].bandwidths">
                      <td width="10%" data-title="'ID'">{{b.id}}</td>
                      <td width="20%" data-title="'Interface'">
                        {{b.interface}}
                      </td>
                      <td width="20%" data-title="'TX'">
                        {{parseId(b.tx/1048576)}}kb
                      </td>
                      <td width="20%" data-title="'RX'">
                        {{parseId(b.tx/1048576)}}kb
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  Load average
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Load average 1 min <div class="progress">

                    <div class="progress-bar progress-bar-success" style="width: {{parseId(servers[currentIndex].load_avgs[0].one_min_avg)*110}}%">
                      {{parseId(servers[currentIndex].load_avgs[0].one_min_avg)*10}}%</div>
                  </div>
                  Load average 5 min
                  <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: {{parseId(servers[currentIndex].load_avgs[0].five_min_avg)*10}}%">
                      {{parseId(servers[currentIndex].load_avgs[0].five_min_avg)*10}}%</div>
                  </div>
                  Load average 10 min
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: {{parseId(servers[currentIndex].load_avgs[0].fifteen_min_avg)*10}}%">
                      {{parseId(servers[currentIndex].load_avgs[0].fifteen_min_avg)*10}}%</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="icon-beer icon-large"></i>
                  RAM
                  <div class="panel-tools">
                    <div class="btn-group">
                      <a class="btn" href="#">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  Total: {{servers[currentIndex].memories[0].mem_total}}
                  <div class="progress" style="text-align: right">
                    <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
                    <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
                  </div>
                  Used: {{servers[currentIndex].memories[0].mem_available}}
                  <div class="progress" style="text-align: right">43%
                    <div class="progress-bar progress-bar-warning" style="width: 43%"></div>
                  </div>
                  Free: {{servers[currentIndex].memories[0].mem_free}}

                  <div class="progress" style="text-align: right">10%
                    <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </td>
      </tr>
    </table>
  </div>
</div>
