  <!-- Navbar -->
  <div class="navbar navbar-default noselect" id="navbar">
    <a class="navbar-brand" href="/" target="_self">
      <i class="icon-beer"></i>
      Ohmpieng
    </a>
    <ul class="nav navbar-nav pull-right">
<!--       <li>
        <a href="#" ui-sref=".setting"><i class="fa fa-cog"></i> Setting</a>
      </li> -->
      <li class="dropdown user" dropdown is-open="status.isopen">
        <a class="dropdown-toggle" dropdown-toggle href="#">
          <i class="icon-user"></i>
          <strong>{{user.name}}</strong>
          <!-- <img class="img-rounded" src="http://placehold.it/20x20/ccc/777" /> -->
          <!-- <b class="caret"></b> -->
        </a>
        <!-- <ul class="dropdown-menu">
          <li>
            <a href="#" ui-sref=".setting.profile">Edit Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", destroy_account_session_path, method: :delete %>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
  <div id="wrapper">
    <!-- Sidebar -->
    <section id="sidebar" class="noselect">
      <i class="fa fa-align-justify fa-lg" ng-click="isCollapsed()" id="toggle"></i>
      <ul id="dock">
        <li class="launcher" ui-sref-active="active">
          <i class="fa fa-info"></i>
          <a href="#" ui-sref=".index">Index</a>
        </li>
        <li class="launcher" ui-sref-active="active">
          <i class="fa fa-tachometer"></i>
          <a href="#" ui-sref=".dashboard">Dashboard</a>
        </li>
        <li class="launcher" ui-sref-active="active">
          <i class="fa fa-flag"></i>
          <a href="#" ui-sref=".report">Reports</a>
        </li>
        <li class="launcher" ui-sref-active="active">
          <i class="fa fa-cog"></i>
          <a ui-sref=".setting">Setting</a>
        </li>
        <!-- <li class="launcher dropdown hover" ng-mouseover="isHoverIn($event)" ng-mouseleave="isHoverOut($event)">
          <i class="fa fa-cloud"></i>
          <a href="#">Backup</a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Launcher description</li>
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
          </ul>
        </li> -->
        <li class="launcher">
          <i class="fa fa-bug"></i>
          <a href="#">Feedback</a>
        </li>
      </ul>
      <div data-toggle="tooltip" id="beaker" title="Made by lab2023"></div>
    </section>

    <!-- Tools -->
    <section id="tools" class="noselect">
      <ul class="breadcrumb" id="breadcrumb">
        <li class="title">Ohmpieng</li>
        <li><a href="#">{{stateName}}</a></li>
      </ul>
    </section>
    <!-- Content -->
    <div id="content" ui-view>
    </div>
  </div>
