<div class="panel panel-default">
  <div class="panel-heading">
    <i class="icon-beer icon-large"></i>
    Ohmpieng Rocks!
    <div class="panel-tools">
      <div class="btn-group">
        <a class="btn" href="#">
          <i class="fa fa-refresh"></i>
          Refresh statics
        </a>
        <a class="btn" data-toggle="toolbar-tooltip" href="#" title="Toggle">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="page-header">
      <h4>System usage</h4>
      <table ng-table class="table">
        <tr ng-repeat="x in xxx">
          <td data-title="'Name'">{{x.name}}</td>
          <td data-title="'Age'">{{x.age}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

