<div class="panel panel-default">
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-md-3 col-md-offset-0">
        <p class="text-left"><%= image_tag "user.png", alt: "Ohmpieng" %><!--<img src="user.png" alt="logo" class="img-rounded">--></p>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <p class="text-right">30-5-58/10:00AM<br>
        Geek</p>
      </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="row-fluid">
      <p class="text-center"><font size="5"><b>รายงานการแจ้งเตือนย้อนหลัง 7 วัน</b></font></p>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-0">
        <h4>User: Geek</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-left"><h4>ServerName: TestServer1</h4></p>
        <div class="table-responsive">
          <table ng-table class="table table-hover table-striped table-condensed table-bordered">
            <tr class="warning"><p class="text-center"><b>Worning</b></p>
              <td data-title="'ID'" align="center" width="10%">1</td>
              <td data-title="'DATE'" align="center" width="20%">26/5/58</td>
              <td data-title="'Count'" align="center" width="10%">2</td>
              <td data-title="'Details'">CPU ทำงานเกิน 80%</td>
            </tr>
            <tr class="warning">
              <td data-title="'ID'" align="center" width="10%">2</td>
              <td data-title="'DATE'" align="center" width="20%">27/5/58</td>
              <td data-title="'Count'" align="center" width="10%">1</td>
              <td data-title="'Details'">HDD ใกล้จะเต็ม</td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table ng-table class="table table-hover table-striped table-condensed table-bordered">
            <tr class="danger"><p class="text-center"><b>Danger</b></p>
              <td data-title="'ID'" align="center" width="10%">1</td>
              <td data-title="'DATE'" align="center" width="20%">26/5/58</td>
              <td data-title="'Count'" align="center" width="10%">2</td>
              <td data-title="'Details'">CPU ทำงาน 100%</td>
            </tr>
            <tr class="danger">
              <td data-title="'ID'" align="center" width="10%">2</td>
              <td data-title="'DATE'" align="center" width="20%">27/5/58</td>
              <td data-title="'Count'" align="center" width="10%">1</td>
              <td data-title="'Details'">HDD เต็ม</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>